.totals {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.totals__container {
  width: 550px;
  margin-top: 20px;
}

.totals__container p {
  font-weight: 400px;
}
